@use 'base';
@use 'color';

h2 {
  margin: 5px 0;
}

.task-list {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 0.95em;
}

.task {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid color.$fg-lightest;

  &__checkmark {
    margin-top: 2px;
    font-size: 1.12em;
    color: color.$primary;
    min-width: 24px;

    i {
      padding: 3px;
      border-radius: 8px;
    }

    i:hover {
      background-color: color.$primary;
      color: color.$bg;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__title {
      font-size: 1.3em;
    }

    &__body {
      color: color.$fg-light;
    }
  }

  &__actions {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    gap: 3px;

    i {
      color: color.$primary--dark;
      background-color: transparent;
      padding: 5px 5px;
      border-radius: 5px;
      font-size: 1.2em;
    }

    i:hover {
      background-color: color.$primary;
      color: color.$bg;
    }
  }

  &:hover {
    .task__actions {
      display: flex;
    }
  }

  &--completed {
    .task__content {
      text-decoration: line-through;
    } 
  }

  &--hidden {
    display: none;
  }
}

.add-task-init {
  color: color.$primary;
  margin: 0px 6px;
  user-select: none;
}

.add-task-init:hover {
  text-decoration: underline;
}

.form--create, .form--update {

  .form__fields {
    gap: 5px;
    border: 1px solid color.$fg-lighter;
    padding: 8px 10px;
    border-radius: 5px;

    input, textarea {
      border: 0;
      font-size: 0.95em;
      font-family: "Roboto", sans-serif;
      resize: none;
      border: none;
      overflow: hidden;
    }

    textarea {
      font-size: 0.88em;
      overflow: hidden;
    }

    input:focus, textarea:focus {
      outline: none;
    }
  }
}

.form--update {
  padding: 8px 0;
  border-bottom: 1px solid color.$fg-lightest;
}

@media all and (max-width: 600px) {
  .task__actions {
    display: flex;
  }
}
