<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %} - Taskover</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="/static/js/script.js" defer></script>
</head>
<body>

  <div id="container">
    <nav>
      <h1>Flaskr</h1> 
      <ul>
        {% if g.user %}
          <li><a href="{{ url_for('routes.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('routes.login') }}">Login</a></li>
          <li><a href="{{ url_for('routes.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="content">

      <header>
        {% block header %}{% endblock %}
      </header> 

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}

    </div>
  </div>
   
</body>
</html>
