{% extends "base.html" %}

{% block title %}Create Task{% endblock %}
{% block header %}Create Task{% endblock %}

{% block content %}
  <form class="form" method="post">
    <div class="form__fields">
      <label for="title">Title</label>
      <input name="title" id="title" autofocus autocomplete=off type="text" required>
      <label for="body">Body</label>
      <input name="body" id="body" autocomplete=off type="text">
    </div>

    <div class="form__submission">
      <input name="submit" value="Create" type="submit"> 
      <a href="{{ url_for("routes.index") }}">Cancel</a>
    </div>
  </form>
{% endblock %}
