{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
  {% if g.user %}
    <h2>Your Tasks</h2>

    <div class="task-list"></div>

    <div class="task-control">

      <div class="add-task-init">+ Add Task</div>

      <div class="form form--create hidden">
        <div class="form__fields">
          <input name="title" class="form__title" placeholder="Task name" autofocus autocomplete=off maxlength=30 type="text">
          <textarea class="form__body" placeholder="Description" name="body" rows=50 cols=36 maxlength=50></textarea>
        </div>

        <div class="form__submission">
          <button class="form__add-task">Add Task</button>
          <button class="form__cancel">Cancel</button>
        </div>
      </div>

    </div>

  {% endif %}
{% endblock %}
