{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}

{% block content %}
  <form method="post" class="form">
    <div class="form__fields">
      <label for="username">Username</label>
      <input name="username" id="username" autofocus autocomplete=off type="text" required>
      <label for="password">Password</label>
      <input name="password" id="password" autocomplete=off type="password" required> 
    </div>
    <div class="form__submission">
      <input name="submit" type="submit"> 
    </div>
  </form>
{% endblock %}
